/АЯ/
/Физика/
/Отчёты/
/НЕ_ДЛЯ_ГИТА/
/Алгосы/
/Теор. вер./
.gitignore

/ОПИ/lab3
/ОПИ/lab3_working_copy/build/
/ОПИ/lab3_working_copy/tests/
/ОПИ/lab3_working_copy/.idea/
/ОПИ/lab3_working_copy/.svn/

/Веб/lab3/.idea/
/Веб/lab3/.gitgnore

/Веб/lab4/.gitgnore
/Веб/lab4/mvnw.cmd
/Веб/lab4/mvnw
/Веб/lab4/.mvn/wrapper/
