/Algorithms/
/English/
/Physics/
/Отчёты/
/НЕ_ДЛЯ_ГИТА/
.gitignore

/MISPI/lab3
/MISPI/lab3_working_copy/build/
/MISPI/lab3_working_copy/tests/
/MISPI/lab3_working_copy/.idea/
/MISPI/lab3_working_copy/.svn/

/Web/lab3/.idea/
/Web/lab3/.gitgnore

/Web/lab4/.gitgnore
/Web/lab4/mvnw.cmd
/Web/lab4/mvnw
/Web/lab4/.mvn/wrapper/
