canvas {
    marin-bottom: 3%;
}

.form-control {
    width: 21.5%;
}

.form-group {
    display: flex;
    flex-direction: column; /* Размещение элементов по вертикали */
    margin-bottom: 20px; /* Добавить отступ снизу */
}

.form-group label {
    margin-bottom: 5px; /* Добавить отступ между элементами */
    cursor: pointer; /* Сделать метки кликабельными */
}

.form-group input[type="radio"] {
    margin-right: 5px; /* Добавить отступ справа от радиокнопок */
    vertical-align: middle; /* Выровнять радиокнопки по вертикали */
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
}

.radio-button {
    margin-right: 10px;
}

.input-group {
    display: flex;
    margin-bottom: 10px;
}

.input-label {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

.input-field {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
}

.radio-container {
  display: inline-flex;
  align-items: center;
}

html,
body {
    height: 100%;
}


body {
    background-color: #0103;
}


a {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a {
    color: black;
}

img {
    border-radius: 5px;
    width: 60%;
}

button {
    width: 165px;
    margin-top: 10px;
}

.content {
    min-height: 100%;
}

.header {
    background-color: #222;
    text-align: center;
    color: #3399ff !important;
    padding: 1% 0;
}

.header h1 {
    font-family: cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 57px;
    padding-bottom: 1%;
}

.header h1 > a:hover {
    color: #3399ff !important;
}

.header * {
    text-decoration: none;
    color: #3399ff !important;
}

.wrapper {
    min-height: 100%;
    padding: 5%;
}

select, input {
    text-align: left !important;
}

footer {
    color: #a1a1a1 !important;
    background-color: #222;
    padding: 2% 0%;
    border-top: 1px solid #000;
    text-align: center;
}

footer h6 {
    color: #3399ff !important;
}

footer a {
    color: #a1a1a1 !important;
}


@media (max-width: 480px) {

    img {
        margin: 0 0 5% 0;
    }

    table {
        margin: 5% 0 0 0;
    }

}