/.idea/
/.mvn/
/build/
/lib/
/src/main/resources/
.gitignore
ant-junitlauncher-1.10.14.jar
mvnw
mvnw.cmd
untitled.xml
/target/
output.txt
MANIFEST.MF
/extensions/MANIFEST.MF
/tests/
/repo/
/gradle/
/.gradle/
