html,
body {
    height: 100%;
}

body {
    background-color: #0103;
	text-align: center;
}

a {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a {
    color: black;
}

.header {
    background-color: #222;
    text-align: center;
    color: #3399ff !important;
    padding: 1% 0;
}

.header h1 {
    font-family: cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 57px;
    padding-bottom: 1%;
}

.header h1 > a:hover {
    color: #3399ff !important;
}

.header * {
    text-decoration: none;
    color: #3399ff !important;
}


input {
	width: inherit;
	text-align: center;
	font-size: 130%;
	margin-bottom: 2%;
}

.main {
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	font-size: 115%;
}


.clear {
	margin-bottom: 3%;
}

.btn {
	margin-bottom: 2%;
}